@{
    ViewBag.Title = "О приложении";
}

<div class="container"
     style="padding: 0 20px 20px 20px;
     background-color: rgb(255,255,255);
     box-shadow: rgba(0,0,0,0.5) 0 5px 20px;
     border-radius:5px;
     min-height:800px">
    <div class="row" style="background-color:rgb(0, 140, 208); margin-left:-20px; margin-right:-20px; padding:10px;">
        <div class="col-md-12">
            <h2 style="color:white;">@ViewBag.Title</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <fieldset>
                <legend>«Учет потребности СИЗ»</legend>
                <p>
                    Данная программа защищена законом об авторском праве и/или смежными законами.
                    Разрешается использование данной программы, копирование, публикация и распространение ее копий без отчисленй авторам, при условии, что программа не модифицируется.
                </p>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset>
                <legend>Разработка:</legend>
                <p>Шуманский Дмитрий Андреевич</p>
                <a href="mailto:shumanskii_da@minskvodokanal.by">shumanskii_da@minskvodokanal.by</a>
            </fieldset>
        </div>
    </div>
</div>