@{
    ViewBag.Title = "О приложении";
}

<div class="container"
     style="padding: 0 20px 20px 20px;
     background-color: rgb(255,255,255);
     box-shadow: rgba(0,0,0,0.5) 0 5px 20px;
     border-radius:5px;">
    <div class="row" style="background-color:rgb(0, 140, 208); margin-left:-20px; margin-right:-20px; padding:10px;">
        <div class="col-md-12">
            <h2 style="color:white;">@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>«Расчет потребности СИЗ»</h2>
            <p>Данная программа защищена законом об авторском праве и/или смежными законами.
            Разрешается использование данной программы, копирование, публикация и распространение ее копий без отчисленй авторам, при условии, что программа не модифицируется.</p>
        </div>
        <div class="col-md-4">
            <h3>Разработка: </h3>
            <p>Шуманский Дмитрий Андреевич</p>
            <a href="mailto:shumanskii@minskvodokanal.by">shumanskii@minskvodokanal.by</a>
        </div>
    </div>
</div>