@model IEnumerable<CalcOfQuantityPPI.Models.PersonalProtectiveItem>

<select id="personal-protective-items" class="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>